html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  color: black;
  background-color: white;

  font-family: 'Oswald';
  /*
  font-family: 'Modak', cursive;
   * font-weight: 700;
   */
  font-size: 14px;
}


.logo{
  text-shadow: 1px 1px 1px #000000;
}
.download-cloud-header{

  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}


.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.mdl-dialog__actions--full-width>*{
  text-align: center !important;
}


.footer_info{
  display: inline-block;
}
