html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  color: black;
  background-color: white;

  font-family: 'Inconsolata', monospace;

  /*
  font-family: 'Poiret One', cursive;
  font-family: 'Oswald';
  font-family: 'Modak', cursive;
   * font-weight: 700;
   */
  font-size: 14px;
  text-align: center !important;

  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


a{
  color: #000000 !important;
}

#results{
  min-height: 400px !important;
}

.result{
  font-weight: bold !important;
  word-break:break-all !important;
  white-space: pre-wrap; 
  margin: 20px;
  background-color: white;
  color: green !important;
  border: 10px solid transparent !important;
  display: inline-block !important;
  height: 300px !important;
  border :2px solid black !important;

  padding-bottom: 20px;
  margin-bottom: 0px !important;
  position: relative; /* anything but static */
}

.result .details{
  color: black !important;
  word-break:break-all !important;
  margin: 20px;
}

.result .show{
  width: 80% !important;
  position: absolute;
  bottom: 10% !important;
  text-align: center !important;
  left: 10% !important;
}

.magnet{
  color: black !important;
  width: 80% !important;
  position: absolute;
  bottom: 10% !important;
  text-align: center !important;
  left: 10% !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  /*color: #000;
   */
  opacity: 0.3 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  font-weight: bold !important;
}

#queryStats{
/*
  transform: scale(1,2);
*/
}

.welcome{
  margin: 0 auto; 
}

#search{
	background-color: white !important;
	background-image: none !important;
	border:none;border-bottom:1px solid black;border-radius:0;outline:none;height:3rem;width:100%;margin:0 0 20px 0;box-shadow:none;box-sizing:content-box;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
}

/* image cube */
.swiper-container {
	width: 300px;
	height: 300px;

	/*
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;
	 */
}
.swiper-slide {
	background-position: center;
	background-size: cover;
	box-shadow: 0 8px 6px -6px black;
}

.icobutton .fa{ 
	display: inline !important;
}

.button::selection {
	background: white !important; /* WebKit/Blink Browsers */
}
.button::-moz-selection {
	background: white  !important; /* Gecko Browsers */
}
